igor-etcd
nginx-etcd
terraform-ansible-nodejs-google-compute-engine
terraform
**/instances/**
.vscode
terraform.tfstate
terraform.tfstate.backup
crash.log
.terraform
openstack/virtual/vbox-scripts-9.0.zip
*.retry
